<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @report_content.content %>
</p>

<%= link_to 'Edit', edit_report_content_path(@report_content) %> |
<%= link_to 'Back', report_contents_path %>
